<div class="container">
    <div class="py-3">
      <%= link_to "⟨ Accueil", root_path, class:"text-decoration-none" %>
      <% if @exercises.count == 0 %>
        <div class="row mx-3">
          <p class="my-4">Oups, nous n'avons rien trouvé 😞</p>
          <%= link_to "Nouvelle recherche", root_path, class:"text-decoration-none" %>
        </div>
      <% else %>
      <div class="row mx-3">
        <h1 class="my-4">Tous les exercices</h1>
          <%# <% @exercises.each do |exercise| %>
            <%# <div class="col-sm-4"> %>
              <%= render "shared/exercise-card" %>
            <%# </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
